<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Cat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Dog</a>
    </li>
  </ul>
</nav>
<div class="content-container">
  <div class="content-area">
    <div class="clr-row">
      <div class="clr-col-4">
        <h1>This is DEMO</h1>
        <p>This app should showcase the cool technology VMware offers</p>
      </div>
      <div class="clr-col-6">
        <h3>Upload picture:</h3>

        <form class="clr-form">
          <div class="clr-form-control">
            <label class="clr-control-label">Basic</label>
            <div class="clr-control-container">
              <div class="clr-file-wrapper">
                <label for="basic" class="clr-control-label"
                  ><span class="btn btn-sm">Upload File</span></label
                >
                <input
                  type="file"
                  id="basic"
                  placeholder="Enter value here"
                  class="clr-file"
                />
              </div>
              <!-- IMPORTANT DIFFERENCE IN STRUCTURE! ICON IS NOT PART OF THE INPUT WRAPPER -->
              <clr-icon
                class="clr-validate-icon"
                shape="exclamation-circle"
              ></clr-icon>
              <span class="clr-subtext">Helper Text</span>
            </div>
          </div>
        </form>
      </div>
      <div class="clr-col-2">
        <div class="card">
          <div class="card-header">
            Information about Pod
          </div>
          <div class="card-block">
            <p class="card-text">
              This table show informaton about the current kubernetes pod from
              where this webpage is served.
            </p>
          </div>
          <div class="card-block">
            <ul class="list-unstyled">
              <li>Ullamco Laboris</li>
              <button (click)="showPodinfo()">click me</button>
              <li>
                Nisi Ut Aliquip
                <ul class="list">
                  <li>Exercitation</li>
                  <li>Laboris</li>
                  <li>Commodo</li>
                </ul>
              </li>
              <li>Consequat</li>
              <li>Excepteur sint occaecat cupidatat non proident</li>
              <li>Enim ad Minim</li>
              <li>
                Occeaecat
                <ul class="list-unstyled">
                  <li>Exercitation</li>
                  <li>Laboris</li>
                  <li>Commodo</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary">Action</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
