{% extends "base.html" %} {% block content %}

<div class="main-container">
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Cat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dog</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-4">
          <h1>This is DEMO</h1>
          <p>This app should showcase the cool technology VMware offers</p>
        </div>
        <div class="clr-col-5">
          <h3>Upload picture:</h3>

          <form class="clr-form">
            <div class="clr-form-control">
              <label class="clr-control-label">Basic</label>
              <div class="clr-control-container">
                <div class="clr-file-wrapper">
                  <label for="basic" class="clr-control-label"
                    ><span class="btn btn-sm">Upload File</span></label
                  >
                  <input
                    type="file"
                    id="basic"
                    placeholder="Enter value here"
                    class="clr-file"
                  />
                </div>
                <!-- IMPORTANT DIFFERENCE IN STRUCTURE! ICON IS NOT PART OF THE INPUT WRAPPER -->
                <clr-icon
                  class="clr-validate-icon"
                  shape="exclamation-circle"
                ></clr-icon>
                <span class="clr-subtext">Helper Text</span>
              </div>
            </div>
          </form>
        </div>
        <div class="clr-col-3">
          <div class="card">
            <div class="card-header">
              Information about Pod
            </div>
            <div class="card-block">
              <p class="card-text">
                This table show informaton about the current kubernetes pod from
                where this webpage is served.
              </p>
            </div>
            <div class="card-block">
              <ul class="list">
                <li><b> Pod Name: </b>{{ podinfo['name'] }}</li>
                <li><b>Pod IP: </b>{{ podinfo['podip'] }}</li>
                <li><b> Host IP: </b>{{ podinfo['hostip'] }}</li>
                <li><b> Node Name:</b> {{ podinfo['nodename'] }}</li>
                <li><b> Operating Sytem: </b>{{ podinfo['os'] }}</li>
                <li>
                  <b>Labels:</b>
                  <ul class="list">
                    {%for key, value in podinfo['labels'].items() %}
                    <li>{{ key }}: {{ value }}</li>

                    {%endfor%}
                  </ul>
                </li>
                <li>
                  <b>Annotations:</b>
                  <ul class="list">
                    {%for key, value in podinfo['annotations'].items() %}
                    <li>{{ key }}: {{ value }}</li>

                    {%endfor%}
                  </ul>
                </li>
                <li><b> Public IP: </b>{{ podinfo['public_ip'] }}</li>
                {% if 'not' not in  podinfo['public_ip'] and not podinfo['public_ip']=="" %}
                <li>
                  <b>Public IP Information:</b>
                  <ul class="list">
                    {%for key, value in podinfo['pub_ip_info'].items() %}
                    <li>{{ key }}: {{ value }}</li>
                    {%endfor%}
                  </ul>
                </li>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
