{% extends "base.html" %} {% block content %}
<div class="main-container">
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/multicloud">Multicloud</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/machinelearning">Machine Learning</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-9">
          <h1>Machine Learning Demo</h1>
          <img
            src="https://cdn11.bigcommerce.com/s-10c6f/images/stencil/1280x1280/products/15607/25366/BAN171-MD__51396.1559929230.jpg?c=2&imbypass=on"
            alt=""
          />
        </div>
        <div class="clr-col-3">
          {% include "podinfo.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
