{% extends "base.html" %} {% block content %}
<div class="main-container">
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/multicloud">Multicloud</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/machinelearning">Machine Learning</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-9">
          <h1 style="text-align: center;">
            This map shows you the origin of this webpage
          </h1>
          {% include "map.html" %}
        </div>
        <div class="clr-col-3" style="height: 60em;">
          {% include "podinfo.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
