<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Cat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Dog</a>
    </li>
  </ul>
</nav>
<div class="content-container">
  <div class="content-area">
    <div class="clr-row">
      <div class="clr-col-4">
        <h1>This is Tim's VMware Demoapp</h1>
        <p>This app should showcase the cool technology VMware offers</p>
      </div>
      <div class="clr-col-8">
        <a href="/demo"><button class="btn btn-primary">GO TO DEMO</button></a>
      </div>
    </div>
  </div>
</div>
