<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Cat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Dog</a>
        </li>
    </ul>
</nav>
<div class="content-container">
    <div class="content-area">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur vero expedita, ipsa blanditiis temporibus quasi aliquam fugiat vel quidem dignissimos dolorum beatae sequi delectus ducimus animi nihil dolor totam accusantium!
    </div>

</div>
<p>about works!</p>
