<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Cat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Dog</a>
    </li>
  </ul>
</nav>
<div class="content-container">
  <div class="content-area">
    <div class="clr-row">
      <div class="clr-col-4">
        <h1>THIS IS ABOUT</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur vero
        expedita, ipsa blanditiis temporibus quasi aliquam fugiat vel quidem
        dignissimos dolorum beatae sequi delectus ducimus animi nihil dolor
        totam accusantium!
      </div>
      <div class="clr-col-8">
        <span>6</span>
      </div>
    </div>
  </div>
</div>
